.tableRow > td {
    vertical-align: middle;
    height: 20px;
}

.tableBody {
    height: 400px !important;
}

.disabled span {
    background: #ccc !important;
}

.disabled {
    cursor: not-allowed !important;
}

.tableLoading {
    height: 400px;
    background: #eee;
}

.tableLoading td {
    border-radius: 7px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.tableLoading p {
    color: gray;
}
