.tableRow > td {
    vertical-align: middle;
    height: 20px;
}

.tableBody {
    height: 400px !important;
}

.disabled span {
    background: #ccc !important;
}

.disabled {
    cursor: not-allowed !important;
}

.tableLoading {
    height: 400px;
    background: #eee;
}

.tableLoading td {
    border-radius: 7px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.tableLoading p {
    color: gray;
}

.actionsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.actionBtn {
    width: 80px;
    height: 30px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: .9em !important;
}

@media (max-width: 450px) {
    .actionsContainer {
        flex-flow: column;
    }

    .actionBtn {
        font-size: .8em !important;
    }
}