.searchIcon {
    width: 20px;
    height: 20px;
    margin: auto 0;
    cursor: pointer;
}

.submitBtn {
    /* transform: translateX(-40px); */
}

.cockpit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.searchInput {
    display: flex;
    width: 50%;
}

@media (max-width: 450px) {
    .addBtn {
        font-size: .8em !important;
    }

    .cockpit {
        flex-flow: column-reverse;
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
    } 

    .searchInput {
        width: 100%;
    }

    .searchInput > div {
        width: 100%;
    } 
}
